<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/login.css}"/>
</head>
<body>
  <h3>Connected with <span th:text="${compte.firstName} + ' ' + ${compte.lastName}"></span>!</h3>
  <h4>Credits :  <span th:text="${compte.credits}"></span></h4>
  <div class="login-form d-flex flex-column justify-content-center">
      <form th:action="@{addContact}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Add Contact</button>
          </div>
      </form>

      <form th:action="@{addPhone}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Add phone to contact</button>
          </div>
      </form>

      <form th:action="@{addGroup}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Add group</button>
          </div>
      </form>
      <form th:action="@{addContactToGroup}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Add contact to a group</button>
          </div>
      </form>
      <form th:action="@{addCredits}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Add credits</button>
          </div>
      </form>
      <form th:action="@{call}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Make a phone call</button>
          </div>

          <form th:action="@{SMS}" method="post">
              <div class="form-floating">
                  <button class="btn btn-outline-primary" type="submit">Send a SMS</button>
              </div>
          </form>

          <form th:action="@{callHistory}" method="post">
              <div class="form-floating">
                  <button class="btn btn-outline-primary" type="submit">See phone calls history</button>
              </div>
          </form>

          <form th:action="@{getBill}" method="post">
              <div class="form-floating">
                  <button class="btn btn-outline-primary" type="submit">Get bill</button>
              </div>
          </form>
      </form>
  </div>
</body>
</html>