<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/login.css}"/>
</head>
<body>
  <h3>Connected with <span th:text="${compte.firstName} + ' ' + ${compte.lastName}"></span>!</h3>
  <h4>Credits :  <span th:text="${compte.credits}"></span></h4>
  <div class="login-form d-flex flex-column justify-content-center">
      <form th:action="@{/compte/contacts}" method="get">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Contacts</button>
          </div>
      </form>
      <form th:action="@{/compte/groups}" method="get">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Groups</button>
          </div>
      </form>
      <form th:action="@{addCredits}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Add credits</button>
          </div>
      </form>
      <form th:action="@{callHistory}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">See phone calls history</button>
          </div>
      </form>

      <form th:action="@{getBill}" method="post">
          <div class="form-floating">
              <button class="btn btn-outline-primary" type="submit">Get bill</button>
          </div>
      </form>

  </div>
</body>
</html>