<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/login.css}"/>
</head>
<body>

<div class="customer-form">
    <h1>Créer un compte</h1>

    <form method="post" th:action="@{/login}" th:object="${compte}" action="#">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label th:for="${#ids.next('lastName')}">Nom</label>
                <input required th:field="*{lastName}" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label th:for="${#ids.next('firstName')}">Prénom(s)</label>
                <input required th:field="*{firstName}" type="text" class="form-control">
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-success pull-right">Sign Up</button>
    </form>
</div>
</body>
</html>
